.background_modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #00000025;
  backdrop-filter: blur(5px);
}

.container__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
  border: 1px solid #000;
  backdrop-filter: blur(10px);
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 0 20px 0 #00000083;
}

.close__modal {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  font-size: 20px;
}

.title__modal{
    font-size: var(--font-size-title);
    font-family: var(--font-titles);
}

.show_RA {
    font-size: var(--font-size-paragraph);
    font-family: var(--font-titles);
    font-weight: 600;
}